@media screen and (max-width: 900px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    margin-left: 27px;
    height: 24px;
    max-width: 103px;
  }
}