.popup__edit-profile_position-top {
  margin-bottom: 30px;
  margin-left: 36px;
  padding: 0;
  padding-bottom: 13px;
}

@media screen and (max-width: 600px) {
  .popup__edit-profile_position-top {
    margin-left: 22px;
    margin-bottom: 30px;
  }
}